.contact-details{
    width: 100%;
    height: 100%;
    padding: 1rem;
    text-align: left;
    background-color: white;
    color: black;
}
.contact-details div{
    width: 100%;
}
.contact-details div input{
    width: 100%;
    margin-bottom: 0.5rem;
    text-align: left;
}

.contact-btn-panel{
    text-align: center;
    margin-top: 1rem;
}
.contact-btn-panel div{
    display: inline;
    margin-right: 1rem;
}
.snackar-error div{
    background-color: red;
}
.snackar-success div{
    background-color: green;

}